@charset "UTF-8";

@font-face {
  font-family: "Caveat";
  font-display: swap;
  src: url("../fonts/Caveat-Regular.woff") format("woff"), url("../fonts/Caveat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  font-display: swap;
  src: url("../fonts/Lora-Regular.woff") format("woff"), url("../fonts/Lora-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  font-display: swap;
  src: url("../fonts/Lora-Medium.woff") format("woff"), url("../fonts/Lora-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100%;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  cursor: pointer;
}

svg path {
  fill: inherit;
  stroke: inherit;
  stroke-width: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #30353B;
  background: #FFFFFF;
  position: relative;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 10px;
}

.btn {
  display: inline-block;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #30353B;
  padding: 16px 20px;
  border: 2px solid #D3B498;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn:hover,
.btn:focus {
  color: #FFFFFF;
  background: #D3B498;
}

.btn--center {
  text-align: center;
}

.title {
  font-family: 'Lora', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 61px;
  color: #30353B;
}

.title--center {
  text-align: center;
  position: relative;
  padding: 0px 0px 24px 0px;
}

.title--center:after {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  left: 50%;
  bottom: 0;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #D3B498;
}

.title--left {
  padding: 0px 0px 24px 0px;
  position: relative;
  margin: 0px 0px 48px 0px;
}

.title--left:after {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #D3B498;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #30353B;
}

.to-top {
  width: 48px;
  height: 48px;
  border: 2px solid #D3B498;
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 999;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  display: none;
  background-image: url(../img/icons/to-top.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.to-top:focus {
  outline: none;
}

.to-top-show {
  display: block;
}

.menu-classic {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 15px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: #3f3b59;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 55;
  width: 100%;
  padding: 19px 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #d3b498;
}

.menu-classic .btn {
  color: #fff;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container-pages {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 10px;
}

/*


		5.Адаптив(стрелочки у слайдера)
		9.Форма записаться ?
		3.Справа подсказки
		6.Меню анимация ?
		4.Крестик у всплывающего окна ? не работает повторно hover
*/

.main-info {
  position: relative;
  height: 100vh;
  min-height: 700px;
}

.main-slider.swiper-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

.main-slider .swiper-slide {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-slider .swiper-pagination {
  right: 10px;
  top: 50%;
  left: auto;
  bottom: auto;
  -webkit-transform: translate3d(0px, -50%, 0);
          transform: translate3d(0px, -50%, 0);
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  width: auto;
  z-index: 66;
}

.main-slider .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background: #FFFFFF;
  opacity: 0.4;
  cursor: pointer;
}

.main-slider .swiper-pagination-bullet-active {
  background: #D3B498;
}

.services__slider .swiper-slide {
  height: calc((100%-30px) / 2);
  margin: 0px 0px 0px 0px;
}

.services__slider .swiper-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right_action_wrap {
  position: fixed;
  top: 30%;
  right: 0px;
  z-index: 66;
}

.one_sale {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.one_sale--brown .one_sale_circle {
  background-color: #D5BAB1;
  top: 31%;
}

.one_sale--brown .one_sale_text {
  background-color: #D5BAB1;
  top: 30%;
}

.one_sale--purple .one_sale_circle {
  background-color: #D7CAE6;
  top: 46%;
}

.one_sale--purple .one_sale_text {
  background-color: #D7CAE6;
  top: 46%;
}

.one_sale--green .one_sale_circle {
  background-color: #B9CCCF;
  top: 61%;
}

.one_sale--green .one_sale_text {
  background-color: #B9CCCF;
  top: 61%;
}

.one_sale.active {
  left: -200px;
}

.one_sale_text {
  font-size: 20px;
  line-height: 32px;
  color: #30353B;
  width: 329px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.45);
          box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.45);
  border-radius: 68px;
  cursor: pointer;
  margin-top: 10px;
  padding: 14px 52px 14px 21px;
  display: none;
}

.one_sale_text:hover {
  display: block;
  right: 125px;
  position: absolute;
}

.one_sale_text:hover .one_sale_circle {
  right: 16px;
}

.one_sale_circle {
  position: fixed;
  width: 92px;
  height: 92px;
  border-radius: 50%;
  margin: 0px 0px 0px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.45);
          box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.45);
  right: -55px;
  cursor: pointer;
  min-height: 92px;
  padding-bottom: 0px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.one_sale_circle:hover {
  right: 16px;
}

.one_sale_circle:hover + .one_sale_text {
  display: block;
  right: 125px;
  position: absolute;
}

.one_sale_text .one_sale_circle:hover {
  display: block;
}

.main__content {
  position: relative;
  z-index: 5;
  height: 100vh;
}

.main__arrow {
  position: relative;
  -webkit-animation: arrow 0.7s infinite ease;
          animation: arrow 0.7s infinite ease;
  z-index: 7;
}

.main__text {
  margin: 60px 0px 0px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__name {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #D3B498;
  text-transform: uppercase;
}

.main__name span {
  font-weight: 800;
}

.main__title {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 143px;
  text-align: center;
  color: #FFFFFF;
}

.main__title span {
  font-size: 112px;
}

.main__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.main__footer {
  font-family: 'Caveat', cursive;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0px 0px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main__arrow {
  display: inline-block;
  margin: 9px 0px 0px 0px;
}

.main-wrap {
  padding: 0px 0px 100px 0px;
}

.main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 65%;
}

.header {
  max-width: 1540px;
  padding: 25px;
  width: 100%;
  margin: 0 auto;
}

.header-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 29px 0px;
}

.header__top .btn {
  color: #fff;
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__icon {
  margin-right: 20px;
  border: 2px solid #D3B498;
  width: 47px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__icon svg {
  fill: #fff;
}

.header__icon:hover {
  background: #D3B498;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__nav--mobile {
  display: none;
}

.header__nav li + li {
  margin: 0px 0px 0px 30px;
}

.header__nav li a {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header__nav li a:hover {
  text-shadow: 0 0 1px #fff, 0 0 1px #fff;
}

.header__nav .first-lvl {
  position: relative;
}

.header__nav .first-lvl:after {
  content: "";
  position: absolute;
  background-image: url(../img/icons/arrow-menu.svg);
  height: 8px;
  width: 8px;
  bottom: -12px;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.header__nav .header__nav--mobile-tel {
  font-size: 24px;
  line-height: 31px;
  font-family: "Lora", serif;
}

.header__social.header__nav--mobile .header__icon:last-child {
  margin: 0px 0px 0px 0px;
}

.header__menu .header__icon--phone {
  display: none;
}

.header__burger {
  display: none;
}

.header__nav.active {
  top: 0;
  opacity: 1;
  visibility: visible;
  z-index: 55;
}

.first-lvl:hover > .submenu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
}

.submenu {
  position: absolute;
  left: 50%;
  z-index: 5;
  min-width: 163px;
  background: #30353B;
  -webkit-box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.12);
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: .3s ease-in-out 0.3s;
  -o-transition: .3s ease-in-out 0.3s;
  transition: .3s ease-in-out 0.3s;
  margin: 20px 0px 0px 0px;
}

.submenu:after {
  content: '';
  border-style: solid;
  border-width: 0 6px 8px 6px;
  border-color: transparent transparent #30353B transparent;
  position: absolute;
  top: -8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.submenu li {
  position: relative;
  margin: 0px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.submenu li:hover {
  background: #44494e;
  -webkit-box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.12);
}

.submenu li + li {
  margin: 0;
}

.submenu a {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 8px 24px;
}

.services__title {
  margin: 0px 0px 40px 0px;
}

.services__slider--next {
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 50%;
  z-index: 30;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.services__slider--next:focus {
  outline: none;
}

.services__slider--prev {
  cursor: pointer;
  position: absolute;
  left: 0px;
  top: 50%;
  z-index: 88;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.services__slider--prev:focus {
  outline: none;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 40px 0px;
}

.services__item img {
  margin: 0px 0px 26px 0px;
}

.services__name {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #30353B;
  font-weight: 600;
}

.services__price {
  font-family: "Lora", serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 41px;
  text-align: center;
  color: #D3B498;
  margin: 16px 0px 0px 0px;
}

.services__slider.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.services__slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2);
}

.info {
  padding: 0px 0px 50px 0px;
  overflow: hidden;
}

.info__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__block--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.info__container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__container--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.info__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__body {
  width: 50%;
  padding: 0px 20px 0px 0px;
}

.info__text {
  margin: 0px 0px 40px 0px;
}

.info__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-transform: translate(-100%, 0px);
      -ms-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);
}

.info__img--reverse {
  -webkit-transform: translate(-200%, 0px);
      -ms-transform: translate(-200%, 0px);
          transform: translate(-200%, 0px);
}

.info__img img {
  max-width: 100%;
  width: 100%;
}

.info__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__time--night {
  position: relative;
}

.info__time--night:hover .time-tooltiptext {
  visibility: visible;
}

.info__time--night .time-tooltiptext {
  width: 230px;
  visibility: hidden;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  color: #30353B;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 0px;
  padding: 8px 25px 8px 8px;
  margin: 0px 0px 7px 0px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.info__time--night .time-tooltiptext:after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 20px;
  border-width: 9px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.info__time--block {
  font-family: "Lora", serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 41px;
  color: #D3B498;
}

.info__time--block p {
  margin: 0px 0px 20px 0px;
}

.info__time--block:first-child {
  margin: 0px 60px 0px 0px;
}

.time-close {
  background-image: url(../img/icons/close.svg);
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.time-tooltiptext.hide {
  visibility: hidden;
}

.time-tooltiptext.active {
  visibility: visible;
}

.instagram {
  padding: 100px 0px 120px 0px;
  background-image: url(../img/main/bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.instagram__link {
  color: #D3B498;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  padding: 0px 54px 0px 0px;
  background-image: url(../img/icons/insta-color-link.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

.instagram__link:hover {
  text-decoration: none;
}

.instagram__title {
  margin: 0px 0px 55px 0px;
}

.instagram__btn {
  margin: 48px 0px 0px 0px;
}

.instagram__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
}

.instagram__post {
  margin-bottom: 15px;
  width: calc(33% - 15px);
}

.instagram__post:nth-child(3n+2) {
  margin: 15px 0px 0px 0px;
}

.instagram__slider--wrap {
  position: relative;
}

.insta__slider--prev {
  left: -50px;
}

.insta__slider--next {
  right: -35px;
}

.instagram__slider.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.instagram__slider .swiper-slide {
  height: calc((100% - 30px) / 2);
}

.map {
  padding: 0px 0px 120px 0px;
}

.map__title {
  margin: 0px 0px 50px 0px;
}

.footer {
  background: #30353B;
  padding: 60px 0px;
  text-align: center;
}

.footer hr {
  border: none;
  color: #FFFFFF;
  height: 1px;
  background: #FFFFFF;
  opacity: 0.1;
  margin: 65px 0px 0px 0px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logo {
  margin: 0px 0px 62px 0px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.footer__menu li a {
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__menu li a:hover {
  text-shadow: 0 0 1px #fff, 0 0 1px #fff;
}

.footer__menu li + li {
  margin: 0px 0px 0px 30px;
}

.footer__menu--main {
  margin-bottom: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.footer__menu--main li a {
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__menu--main li a:hover {
  text-shadow: 0 0 1px #fff, 0 0 1px #fff;
}

.footer__menu--main li + li {
  margin: 0px 0px 0px 45px;
}

.footer__bottom {
  padding: 24px 0px 0px 0px;
  font-size: 12px;
  line-height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer__bottom a {
  color: #FFFFFF;
}

.footer__name {
  color: #fff;
}

.footer__agreement {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: underline;
}

.footer__agreement:hover {
  text-decoration: none;
}

.footer__developers {
  margin: 32px 0px 0px 0px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__social {
  margin: 24px 0px 0px 0px;
}

.footer__social svg {
  fill: #D3B498;
}

.footer__icon {
  margin: 0px 16px 0px 0px;
}

.menu-active {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: #3F3B59;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 55;
  width: 100%;
  padding: 19px 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #D3B498;
}

.menu-active .btn {
  color: #fff;
}

@-webkit-keyframes arrow {
  0% {
    top: 0;
  }

  50% {
    top: 10px;
  }

  100% {
    top: 0;
  }
}

@keyframes arrow {
  0% {
    top: 0;
  }

  50% {
    top: 10px;
  }

  100% {
    top: 0;
  }
}

.crumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 24px 0px;
}

.crumbs-link {
  font-size: 16px;
  line-height: 32px;
  color: #D3B498;
}

.crumbs li + li {
  margin: 0px 0px 0px 12px;
}

.crumbs-active {
  color: #30353B;
}

.contacts {
  max-width: 757px;
  width: 100%;
}

.contacts__text {
  margin: 0px 0px 48px 0px;
}

.contacts__subtitle {
  font-size: 32px;
  line-height: 41px;
  color: #30353B;
  font-family: "Lora", serif;
  margin: 0px 0px 32px 0px;
}

.contacts__block {
  margin: 0px 0px 48px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__number {
  font-size: 20px;
  line-height: 26px;
  color: #30353B;
  margin: 0px 35px 0px 0px;
}

.contacts__mail {
  font-size: 20px;
  line-height: 26px;
  text-decoration: underline;
  color: #BE9674;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contacts__mail:hover {
  text-decoration: none;
}

.contacts__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 104px 0px;
}

.contacts__map {
  margin: 0px 0px 120px 0px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(48, 53, 59, 0.8);
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 77;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 0;
  top: 0;
}

.popup__content {
  background-color: #fff;
  color: #30353B;
  max-width: 588px;
  padding: 40px 44px 32px 55px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup__close {
  position: absolute;
  right: 24px;
  top: 24px;
  background-image: url(../img/icons/popup-close.svg);
  width: 32px;
  height: 32px;
}

.popup__title {
  font-family: "Lora", serif;
  font-size: 24px;
  line-height: 31px;
  color: #30353B;
  margin: 0px 0px 40px 0px;
  font-weight: 500;
}

.popup__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 0px 32px 0px;
}

.popup__label {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #30353B;
  font-weight: 600;
  margin: 0px 0px 8px 0px;
}

.popup__label span {
  color: #D3B498;
}

.popup__input {
  border: 0;
  outline: none;
  border-bottom: 1px solid #DCDBDB;
  padding: 16px 16px 16px 0px;
  font-size: 16px;
  line-height: 20px;
}

.popup__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  color: #A3A1A1;
  font-family: "Lora", serif;
}

.popup__input::-moz-placeholder {
  font-size: 16px;
  line-height: 20px;
  color: #A3A1A1;
  font-family: "Lora", serif;
}

.popup__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  color: #A3A1A1;
  font-family: "Lora", serif;
}

.popup__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  color: #A3A1A1;
  font-family: "Lora", serif;
}

.popup__input::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: #A3A1A1;
  font-family: "Lora", serif;
}

.popup__btn {
  background-color: #fff;
  cursor: pointer;
  padding: 16px 60px;
}

.popup__select {
  border: 0;
  outline: none;
  border-bottom: 1px solid #DCDBDB;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../img/icons/select.svg);
  background-size: 15 9;
  background-position: right center;
  background-repeat: no-repeat;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  color: #A3A1A1;
  margin: 14px 0px 0px 0px;
  padding: 0px 16px 16px 0px;
  font-family: "Lora", serif;
}

.popup__date {
  font-size: 16px;
  line-height: 20px;
  color: #A3A1A1;
}

.popup__agree {
  font-size: 16px;
  line-height: 20px;
  color: #30353B;
  font-family: "Lora", serif;
  margin: 24px 0px;
}

.popup__link {
  color: #D3B498;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.popup__link:hover {
  text-decoration: none;
}

.popup__textarea {
  border: 0;
  outline: none;
  border-bottom: 1px solid #DCDBDB;
  padding: 16px 16px 16px 0px;
  font-size: 16px;
  line-height: 20px;
  resize: none;
}

.popup__textarea::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  color: #A3A1A1;
  font-family: "Lora", serif;
}

.popup__textarea::-moz-placeholder {
  font-size: 16px;
  line-height: 20px;
  color: #A3A1A1;
  font-family: "Lora", serif;
}

.popup__textarea:-ms-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  color: #A3A1A1;
  font-family: "Lora", serif;
}

.popup__textarea::-ms-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  color: #A3A1A1;
  font-family: "Lora", serif;
}

.popup__textarea::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: #A3A1A1;
  font-family: "Lora", serif;
}

.popup__min {
  font-size: 12px;
  line-height: 19px;
}

.popup__min span {
  color: #D3B498;
}

.popup__text--file {
  font-size: 16px;
  line-height: 20px;
  color: #30353B;
  margin: 8px 0px 0px 0px;
}

.popup.open .popup__body {
  right: 0;
}

.checkbox {
  display: block;
  margin: 0px 0px 16px 0px;
}

.checkbox__input {
  display: none;
}

.checkbox__style {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border: 2px solid #A3A1A1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  background-color: #ffff;
  position: relative;
  margin-right: 12px;
  cursor: pointer;
}

.checkbox__style::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #D3B498;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.checkbox__text {
  font-size: 16px;
  line-height: 19px;
  color: #30353B;
  font-family: "Lora", serif;
}

.checkbox__descr {
  font-size: 12px;
  line-height: 19px;
  padding: 0px 0px 0px 34px;
}

.checkbox__input:checked + .checkbox__style::before {
  opacity: 1;
}

.checkbox__input:checked + .checkbox__style {
  border: 2px solid #D3B498;
}

.file-popup {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #30353B;
  margin: 0px 0px 24px 0px;
  position: relative;
}

.file-popup:after {
  content: '';
  position: absolute;
  top: -30px;
  left: 50%;
  width: 48px;
  height: 48px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url(../img/icons/upload-cloud.svg);
  background-repeat: no-repeat;
  background-size: 48px 48px;
}

.file-popup__label {
  width: 100%;
  background: #F8F8F8;
  border: 1px dashed #DCDBDB;
  border-radius: 5px;
  display: block;
  padding: 1.2em;
  -webkit-transition: border 300ms ease;
  -o-transition: border 300ms ease;
  transition: border 300ms ease;
  cursor: pointer;
  text-align: center;
  padding: 84px 10px 32px 10px;
  margin: 24px 0px 0px 0px;
}

.file-popup__file {
  outline: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.file-popup__title {
  background-color: #fff;
}

.reviews {
  padding: 0px 0px 120px 0px;
}

.reviews__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -16px 16px 0px;
}

.reviews__photo {
  width: calc(50% - 16px);
  margin: 0px 16px 0px 0px;
}

.reviews__photo img {
  -o-object-fit: cover;
     object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__link {
  background: #614F71;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  height: 100%;
  padding: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: auto;
  margin-right: 16px;
}

.reviews__link .btn {
  color: #fff;
  padding: 16px 35px;
}

.reviews__title {
  font-size: 29px;
  line-height: 37px;
  text-align: center;
  color: #FFFFFF;
  font-family: "Lora", serif;
  margin: 0px 0px 32px 0px;
}

.reviews__text {
  margin: 0px 0px 40px 0px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.reviews__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -16px 0px 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reviews__btn {
  text-align: center;
  margin: 18px 0px 0px 0px;
}

.reviews__btn .btn {
  padding: 16px 60px;
}

.reviews-items__photo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews-items__item {
  width: calc(33% - 16px);
  margin: 0px 16px 16px 0px;
}

.reviews-items__icon {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.reviews-items__review {
  background: #A493BF;
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-items__review svg {
  fill: #000;
}

.reviews-items__review .reviews-items__link {
  color: #000;
}

.reviews-items__review .reviews-items__quote {
  color: #000;
}

.reviews-items__review .reviews-items__name {
  color: #000;
}

.reviews-items__review .reviews-items__date {
  color: #000;
}

.reviews-items__review--white {
  color: #fff;
}

.reviews-items__review--white .reviews-items__link {
  color: #fff;
  background-image: url(../img/icons/reviews-arrow-white.svg);
  background-size: 16px 11px;
}

.reviews-items__review--white .reviews-items__quote {
  color: #fff;
}

.reviews-items__review--white .reviews-items__name {
  color: #fff;
}

.reviews-items__review--white .reviews-items__date {
  color: #fff;
}

.reviews-items__review--white svg {
  fill: #fff;
}

.reviews-items__review:after {
  content: '';
  position: absolute;
  bottom: -42px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-width: 14px;
  border-style: solid;
  border-color: currentColor transparent transparent transparent;
}

.reviews-items__review--top:after {
  top: -14px;
  bottom: unset;
  border-color: transparent transparent currentColor transparent;
}

.reviews-items__quote {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  font-family: "Lora", serif;
  margin: 0px 0px 16px 0px;
  position: relative;
}

.reviews-items__wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.reviews-items__link {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  padding: 0px 24px 0px 0px;
  background-image: url(../img/icons/reviews-arrow.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: right center;
  max-width: 190px;
}

.reviews-items__name {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.reviews-items__date {
  font-size: 12px;
  line-height: 21px;
  text-align: center;
}

.review-window__body {
  position: static;
  padding: 100px 20px;
}

.review-window__content {
  max-width: 1000px;
  background-color: #DAC9E8;
}

.review-window__content:after {
  content: '';
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
  top: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.review-window__quote {
  position: absolute;
  border-radius: 50%;
  top: 5px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

.review-window__quote svg {
  fill: currentColor;
}

.review-window__close {
  position: absolute;
  right: -46px;
  top: 0px;
  background-image: url(../img/icons/review-window-close.svg);
  width: 32px;
  height: 32px;
}

.review-window__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 51px;
  text-align: center;
  color: #30353B;
  margin-top: 30px;
}

.review-window__text {
  margin: 0px 0px 40px 0px;
  text-align: center;
}

.swiper-slide__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.popup__content .swiper-slide__photo {
  max-width: none;
}

.review__slider--next,
.review__slider--prev {
  position: absolute;
  top: 50%;
}

.review__slider--next {
  right: -40px;
}

.review__slider--prev {
  left: -40px;
}

@media screen and (max-width: 1200px) {
  .header__nav li + li {
    margin: 0px 0px 0px 20px;
  }

  .review-window__body {
    padding: 100px 70px;
  }
}

@media screen and (max-width: 1020px) {
  .info__time--block:first-child {
    margin: 0px 35px 0px 0px;
  }
}

@media screen and (max-width: 992px) {
  .btn--mobile {
    display: none;
  }

  .title {
    font-size: 35px;
  }

  .menu-classic {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .right_action_wrap {
    display: none;
  }

  .header-home {
    display: none;
  }

  .header__top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 40px;
  }

  .header__top .btn {
    display: none;
  }

  .header__social {
    display: none;
  }

  .header__icon--phone {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 40px;
    height: 40px;
    margin-right: 0px;
  }

  .header__nav {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 180px 0px 33px 0px !important;
  }

  .header__nav--mobile {
    display: block;
  }

  .header__nav li + li {
    margin: 0px 0px 32px 0px;
  }

  .header__social.header__nav--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__menu .header__icon--phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__burger {
    display: block;
    z-index: 5;
    width: 30px;
    height: 20px;
  }

  .header__burger--btn {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: 2px solid #D3B498;
    padding: 10px;
    position: relative;
  }

  .menu-toggle {
    width: 40px;
    height: 40px;
    border: 2px solid #D3B498;
    cursor: pointer;
    z-index: 99;
    position: absolute;
    top: 25px;
    left: 25px;
  }

  .hamburger,
  .cross {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .hamburger span {
    display: block;
    width: 18px;
    height: 2px;
    margin-bottom: 3px;
    overflow: hidden;
    position: relative;
  }

  .hamburger span:last-child {
    margin: 0;
  }

  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 70px 0px 0px 0px;
    position: fixed;
    top: -100%;
    opacity: 0;
    visibility: hidden;
    overflow: auto;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3F3B59;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .hamburger span:before,
  .hamburger span:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
            transform: translateX(-200%);
    -webkit-transition: -webkit-transform ease 300ms;
    transition: -webkit-transform ease 300ms;
    -o-transition: transform ease 300ms;
    transition: transform ease 300ms;
    transition: transform ease 300ms, -webkit-transform ease 300ms;
  }

  .hamburger span:after {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .hamburger span:nth-child(2):before,
  .hamburger span:nth-child(2):after {
    -webkit-transition-delay: 75ms;
         -o-transition-delay: 75ms;
            transition-delay: 75ms;
  }

  .hamburger span:last-child:before,
  .hamburger span:last-child:after {
    -webkit-transition-delay: 150ms;
         -o-transition-delay: 150ms;
            transition-delay: 150ms;
  }

  .menu-toggle:hover .hamburger span:before {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .menu-toggle:hover .hamburger span:after {
    -webkit-transform: translateX(200%);
        -ms-transform: translateX(200%);
            transform: translateX(200%);
  }

  .menu-toggle.active .hamburger span:before {
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
  }

  .menu-toggle.active .hamburger span:after {
    -webkit-transform: translateX(200%);
        -ms-transform: translateX(200%);
            transform: translateX(200%);
  }

  .cross span {
    display: block;
    width: 18px;
    height: 2px;
    background-color: #fff;
    -webkit-transform: translateY(50%) rotate(45deg) scaleX(0);
        -ms-transform: translateY(50%) rotate(45deg) scaleX(0);
            transform: translateY(50%) rotate(45deg) scaleX(0);
    -webkit-transition: -webkit-transform ease 200ms;
    transition: -webkit-transform ease 200ms;
    -o-transition: transform ease 200ms;
    transition: transform ease 200ms;
    transition: transform ease 200ms, -webkit-transform ease 200ms;
  }

  .cross span:last-child {
    -webkit-transform: translateY(-50%) rotate(-45deg) scaleX(0);
        -ms-transform: translateY(-50%) rotate(-45deg) scaleX(0);
            transform: translateY(-50%) rotate(-45deg) scaleX(0);
  }

  .menu-toggle.active .cross span {
    -webkit-transition-delay: 450ms;
         -o-transition-delay: 450ms;
            transition-delay: 450ms;
    -webkit-transform: translateY(50%) rotate(45deg) scaleX(1);
        -ms-transform: translateY(50%) rotate(45deg) scaleX(1);
            transform: translateY(50%) rotate(45deg) scaleX(1);
  }

  .menu-toggle.active .cross span:last-child {
    -webkit-transform: translateY(-50%) rotate(-45deg) scaleX(1);
        -ms-transform: translateY(-50%) rotate(-45deg) scaleX(1);
            transform: translateY(-50%) rotate(-45deg) scaleX(1);
  }

  body.lock {
    overflow: hidden;
  }

  .submenu {
    background-color: #ababab;
    width: 100%;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
  }

  .submenu li + li {
    margin: 0px 0px 0px 0px;
  }

  .submenu:after {
    display: none;
  }

  .submenu li:hover {
    background-color: #666767;
  }

  .info__time--block {
    font-size: 25px;
  }

  .instagram__post:nth-child(3n+2) {
    padding: 0px;
  }

  .instagram__slider--wrap {
    padding: 0px 40px;
  }

  .insta__slider--prev {
    left: 0px;
  }

  .insta__slider--next {
    right: 0px;
  }

  .menu-active {
    display: none !important;
  }

  .contacts__block {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .contacts__time {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (max-width: 992px) and (max-width: 576px) {
  .menu-toggle {
    top: 10px;
    left: 10px;
  }
}

@media screen and (max-width: 776px) {
  .services__name {
    font-size: 14px;
    line-height: 17px;
  }

  .services__price {
    font-size: 24px;
    line-height: 31px;
  }

  .footer {
    padding: 24px;
  }

  .contacts__time .info__time--block:first-child {
    margin: 0px 15px 0px 0px;
  }

  .reviews-items__quote {
    font-size: 18px;
    line-height: 23px;
  }
}

@media screen and (max-width: 576px) {
  .btn {
    padding: 12px 20px;
    font-size: 12px;
    line-height: 15px;
  }

  .title--center {
    padding: 0px 0px 16px 0px;
  }

  .title--center:after {
    width: 48px;
  }

  .title {
    font-size: 24px;
    line-height: 31px;
  }

  .title--left {
    padding: 0px 0px 16px 0px;
  }

  .title--left {
    margin: 0px 0px 24px 0px;
  }

  .text {
    font-size: 14px;
    line-height: 24px;
  }

  .to-top {
    display: none;
  }

  .main__text {
    margin: 10px 0px 16px 0px;
  }

  .main__name {
    font-size: 12px;
    line-height: 15px;
  }

  .main__title {
    font-size: 24px;
    line-height: 32px;
  }

  .main__title span {
    font-size: 36px;
    line-height: 46px;
  }

  .main__subtitle {
    font-size: 12px;
    line-height: 32px;
  }

  .main__footer {
    font-size: 18px;
    line-height: 23px;
  }

  .header {
    padding: 10px;
  }

  .header__icon--phone {
    top: 10px;
    right: 10px;
  }

  .header__logo {
    max-width: 95px;
    width: 100%;
  }

  .services__slider--next {
    width: 20px;
  }

  .services__slider--prev {
    width: 20px;
  }

  .info__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .info__body {
    width: 100%;
  }

  .info__img {
    -webkit-transform: translate(0%, 0);
        -ms-transform: translate(0%, 0);
            transform: translate(0%, 0);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .info__img--reverse {
    -webkit-transform: translate(0%, 0);
        -ms-transform: translate(0%, 0);
            transform: translate(0%, 0);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .info__time--night .time-tooltiptext {
    left: -78px;
  }

  .info__time--night .time-tooltiptext:after {
    left: 120px;
  }

  .info__time--block {
    font-size: 18px;
    line-height: 23px;
  }

  .info__time--block p {
    margin: 0px 0px 16px 0px;
  }

  .info__time--block:first-child {
    margin: 0px 16px 0px 0px;
  }

  .instagram {
    padding: 50px 0px 50px 0px;
  }

  .instagram .container {
    padding-right: 0px;
  }

  .instagram__link {
    background-size: 32px 32px;
    padding: 0px 40px 0px 0px;
  }

  .instagram__btn {
    margin: 22px 0px 0px 0px;
  }

  .instagram__slider--wrap {
    padding: 0px;
  }

  .insta__slider--prev {
    display: none;
  }

  .insta__slider--next {
    display: none;
  }

  .instagram__slider .swiper-slide {
    text-align: center;
    width: 80%;
  }

  .footer hr {
    margin: 24px 0px 0px 0px;
  }

  .footer__logo {
    width: 100px;
    margin: 0px 0px 0px 0px;
  }

  .footer__menu {
    display: none;
  }

  .footer__bottom {
    font-size: 8px;
    line-height: 16px;
  }

  .footer__developers {
    margin: 24px 0px 0px 0px;
  }

  .footer__developers--link {
    width: 76px;
  }

  .contacts__subtitle {
    font-size: 18px;
    line-height: 23px;
  }

  .contacts__number {
    font-size: 14px;
    line-height: 18px;
    margin: 0px 35px 0px 0px;
  }

  .contacts__mail {
    font-size: 14px;
    line-height: 18px;
  }

  .contacts__time {
    margin: 0px 0px 40px 0px;
  }

  .contacts__time .time-tooltiptext {
    left: -78px;
  }

  .contacts__time .time-tooltiptext:after {
    left: 120px;
  }

  .contacts__map {
    margin: 0px 0px 60px 0px;
  }

  .popup__close {
    width: 16px;
    height: 16px;
    background-size: contain;
  }

  .reviews {
    padding: 0px 0px 60px 0px;
  }

  .reviews__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 0px 10px 0px;
  }

  .reviews__photo {
    width: 100%;
    margin: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .reviews__link {
    margin: 0px 0px 10px 0px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .reviews__title {
    font-size: 18px;
    line-height: 23px;
    margin: 0px 0px 24px 0px;
  }

  .reviews__text {
    font-size: 12px;
    line-height: 19px;
    margin: 0px 0px 32px 0px;
  }

  .reviews__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 0px 0px 0px;
  }

  .reviews__btn {
    margin: 6px 0px 0px 0px;
  }

  .reviews__btn .btn {
    width: 100%;
  }

  .reviews-items__item {
    margin: 0px 0px 18px 0px;
    width: 100%;
    min-height: 300px;
  }

  .reviews-items__name {
    font-size: 12px;
    line-height: 21px;
  }

  .reviews-items__date {
    font-size: 10px;
    line-height: 21px;
    margin: 0px 0px 40px 0px;
  }

  .review-window__body {
    padding: 35px;
  }

  .review-window__content {
    padding: 20px;
  }

  .review-window__close {
    top: 10px;
    right: 10px;
  }
}

.webp .instagram{ background-image: url(../img/main/bg.webp); }